node_modules/
dist/
build/
__pycache__/
*.pyc
venv/
env/
.venv/
/.DS_Store
backend/processed/
frontend/node_modules/
# Created by venv; see https://docs.python.org/3/library/venv.html
/bin
/lib
lib64
pyvenv.cfg